**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/.DS_Store
**/Thumbs.db
**/secrets.json
**/secrets.example.json
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Production.json
**/.env
**/.env.*
**/coverage
**/TestResults
**/*.md
!README.md